image: 
  tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  PORT: 3000
  APP_URL: https://idos.radixdlt.com
  APPLICATION_NAME: "idos"
  NEXT_PUBLIC_GATEWAY_URL: https://mainnet.radixdlt.com
  NEXT_PUBLIC_RADIX_NETWORK: mainnet
  NEXT_PUBLIC_KWIL_NODE_URL: https://nodes.idos.network

secrets:
  - external_secret_name: idos-postgres-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

  - external_secret_name: idos-postgres-read-url
    env_variable: "DATABASE_READ_URL"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/postgres"
    aws_secret_key: "database-read-url"
    secret_key: "database-read-url"

  - external_secret_name: next-public-consumer-signing-public-key
    env_variable: "NEXT_PUBLIC_CONSUMER_SIGNING_PUBLIC_KEY"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "next_public_consumer_signing_public_key"
    secret_key: "next_public_consumer_signing_public_key"

  - external_secret_name: next-public-consumer-encryption-public-key
    env_variable: "NEXT_PUBLIC_CONSUMER_ENCRYPTION_PUBLIC_KEY"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "next_public_consumer_encryption_public_key"
    secret_key: "next_public_consumer_encryption_public_key"

  - external_secret_name: consumer-signing-secret-key
    env_variable: "CONSUMER_SIGNING_SECRET_KEY"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "consumer_signing_secret_key"
    secret_key: "consumer_signing_secret_key"

  - external_secret_name: consumer-encryption-secret-key
    env_variable: "CONSUMER_ENCRYPTION_SECRET_KEY"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "consumer_encryption_secret_key"
    secret_key: "consumer_encryption_secret_key"

  - external_secret_name: next-public-walletconnect-project-id
    env_variable: "NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "next_public_walletconnect_project_id"
    secret_key: "next_public_walletconnect_project_id"

  - external_secret_name: radix-backend-account-address
    env_variable: "RADIX_BACKEND_ACCOUNT_ADDRESS"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "radix_backend_account_address"
    secret_key: "radix_backend_account_address"

  - external_secret_name: next-public-radix-dapp-definition-address
    env_variable: "NEXT_PUBLIC_RADIX_DAPP_DEFINITION_ADDRESS"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "next_public_radix_dapp_definition_address"
    secret_key: "next_public_radix_dapp_definition_address"

  - external_secret_name: radix-pop-component-address
    env_variable: "RADIX_POP_COMPONENT_ADDRESS"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "radix_pop_component_address"
    secret_key: "radix_pop_component_address"

  - external_secret_name: radix-component-admin-badge-address
    env_variable: "RADIX_COMPONENT_ADMIN_BADGE_ADDRESS"
    aws_secret_name: "rtlj-prod/eks/idos/mainnet/secrets"
    aws_secret_key: "radix_component_admin_badge_address"
    secret_key: "radix_component_admin_badge_address"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: idos.radixdlt.com
      paths:
        - path: /
          pathType: ImplementationSpecific

replicaCount: 2

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    memory: 1.5Gi

metrics:
  alert_labels:
    cluster: rtlj-prod
    env: prod
